* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #EFEFEF;
}

header {
    background-color: hsl(130 100 30 / 1 );
    padding: 16px 120px;
}

header input{
    width: 100%;
    height: 60px;
    padding: 0 10px;
    border-radius: 8px;
    font-size: 18px;
}

#tarefas{
    padding: 60px 120px;
}

#tarefas h2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 48px;
}
#tarefas h2 button{
    height: 46px;
    background-color: hsl(130 100 30 / 1 );
    color: hsl(0 0 95 / 1 );
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    padding: 0 26px;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 200ms;
}

#tarefas h2 button:hover, .modal form button:hover{
    background-color: hsl(130 100 20 / 1 );
}

#tarefas h6{
    text-align: center;
    font-size: 24px;
    color: hsl(0 0 70 / 1 )
}

#tarefas ul{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 36px;
}

#tarefas ul li{
    width: calc(25% - 12px); /* Só queria colocar 4 elementos por linha por isso 25% e o 12 é do gap que ficava 3 elementos por linha, então 16*3=48/4=12*/
    padding: 16px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 5px 10px #00000015;
    display: flex;
    flex-direction: column;
    min-height: 150px;
}


#tarefas ul li.oculto{
    display: none;
}

#tarefas ul li h5{
    font-size: 16px;
    margin-bottom: 16px;
}

#tarefas ul li .icons{
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

#tarefas ul li .lixeira, ul li .lapis{
    cursor: pointer;
    fill: #999;
    transition-duration: 200ms;
}

#tarefas ul li .lixeira:hover{
    fill:hsl(0, 95%, 40%);
    scale: 1.3;
    transform: translate(-11%, 0) ;
}

#tarefas ul li .lapis:hover{
    fill:hsl(130 100 20 / 1 );
    scale: 1.3;
    transform: translate(-11%, 0) ;
}


#overlay{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #00000080;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    transition-duration: 200ms;
}

#overlay.active{
    opacity: 1;
    visibility: visible;
}

.modal{
    width: 400px;
    background-color: white;
    padding: 16px;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    transition-duration: 200ms;
}

.modal.active{
    opacity: 1;
    visibility: visible;
}

.modal form h3{
    font-size: 24px;
    color: #999;
    margin-bottom: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal form h3 box-icon{
    fill:#999;
    cursor: pointer;
}

.modal form h3 box-icon:hover{
    fill:hsl(130 100 20 / 1 );
}

.modal form label{
    display: block;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.modal form input, .modal form textarea{
    width: 100%;
    height: 46px;
    border: 2px solid #DEDEDE;
    border-radius: 5px;
    margin-bottom: 16px;
    padding-left: 10px;
    transition-duration: 1s;
}

.modal form input:focus, .modal form textarea:focus{
    border-color: hsl(130 100 30 / 1 );
    scale: 1.05;
}

.modal form textarea:focus{
    height: 120px;
}

.modal form textarea{
    padding-top: 10px;
}

.modal form button{
    height: 46px;
    background-color: hsl(130 100 30 / 1 );
    color: hsl(0 0 95 / 1 );
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    padding: 0 26px;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 200ms;
    width: 100%;
}